<% include common/header %>

  <!-- write your content inside this div -->

  <div class="content-container">
    <div class="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 menu-container">
          <% include common/account-menu %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Your Account Settings</h2> 
            <% if(!user.twilio){ %>
                <p>You did not seem to connect your Twilio Account. It is Strongly suggested that you do this by clicking following button </p>
                <p>
                  <style type="text/css">
                    #twilio-connect-button {
                      background: url(https://www.twilio.com/packages/connect-apps/images/connect-button.png);
                      width: 130px; height: 34px; display: block; margin: 0 auto;
                    }
                    #twilio-connect-button:hover { background-position: 0 34px; }
                  </style>
                  <a href="https://www.twilio.com/authorize/CNd485d8e4969ebe77c2cd45a2c2670124" id="twilio-connect-button" target="_self"></a> 
                </p>
            <%}else{%>
              <p>You have already connected your Twilio account. Your Twilio AccountSID is <%= user.twilio.id %>. Click <a href="/removeTwilio" target="_self">here</a> to disconnect.</p>
            <%}%>

            <p>Visit <a href="/my_voice_forms">My Voice Forms</a> section to see list of your voice forms, voice submissions and even create some more voice forms.</p>
            
            
            <script type="text/javascript">


            </script>
              
        </div>
      </div>
    </div>
  </div>

<% include common/footer %>