<!DOCTYPE html>
<html>
  <head>
    <title>Transform Jotform Forms Into Voice Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="jumbotron">
        <h1>Voice Mails Made Easy</h1>
        <p class="lead">Click following button to select one of your jotform forms to be transformed into a shiny voice form</p>
        <p><a class="btn btn-lg btn-success" id="start" href="#">Choose Form</a></p>
      </div>

      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src='http://js.jotform.com/JotForm.min.js'></script>
    <script src='http://js.jotform.com/FormPicker.min.js'></script>
    <script src="js/init.js"></script>
    <script type"text/javascript">
      $(document).ready(function(){

          init();

      });
    </script>
  </body>
</html>