<% include common/header %>

    <!-- write your content inside this div -->
    <div class="content-container">
      <div class="content">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron text-center">
              <h1>Voice Forms Made Easy</h1>
              <p class="lead">Click following button to select one of your jotform forms to be transformed into a shiny voice form</p>
              <p class="text-center"><a class="btn btn-lg btn-success" id="start" href="#">Demo</a></p>
              <p class="text-center or-link" > <a href="/account" target="_self">or login to see your existing voice forms and voice submissions.</a> </p>
              <div id='status dn' class="text-left">initializing</div>
              <div id='results' > 

              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>

<% include common/footer %>