@import "http://omer.jotform.pro/landing/sharedStyles/reset.css?rev=1";
@import "http://omer.jotform.pro/landing/sharedStyles/common-page-styles.css?rev=1";

.or-link a{
	color: #787878;
    font-size: 14px;
    font-weight: bold;
}

.dn{
	display:none;
}

.oh{
	overflow: hidden;
}

.fl{
	float:left;
}

.fr{
	float:right;
}


.content{
	min-height: 400px;
}

.content h2{
	margin-bottom: 25px;
}

.content div{
	margin-bottom: 10px;
}

#call_now{
	margin:10px 0;
	width: 100px;
	height: 35px;
	font-weight: bold;
	font-size: 18px;
}

#phone_number{
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
	width: 160px;

}
.account-menu{
	margin-top:10px;
}

.account-menu >li{
	float: left;
	font-size: 22px;
	font-weight: bold;
	margin-right: 33px;
}

.account-menu a{
	color:white;
}

table.submission{
	font-size: 14px;
}

.submission td{
	padding: 5px;
}

.submission tr{
	border-bottom:1px dotted red;
}
.submission tr:hover{
	background-color: #ccc;
}

#embedcode{
	width:600px;
	background-color:white;
	padding: 10px;
	color:black;
	font-size: 16px;
}


#embedcode > textarea{
	width:500px;
	height: 100px;
	margin-left: 40px;
	background-color:white;
	font-size: 12px;
	margin-top:10px;
	margin-bottom:  10px;
	
}

#preview{
	width:600px;
	background-color:white;
	padding: 20px;
	color:black;

}

#preview iframe{
	width:500px;
	margin-left: 32px;
}

.content-container .content{
	background-color: #4B5353;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 5px;
    width: 980px;
    color:white;
}

.content-container .content a,{
	color:blue;
}

.glyphicon{
	margin-top: 3px;
}

.ico{
	display:inline-block;
	margin-left: 10px;
}

.cp:hover{
	cursor: pointer;
}

.modal_title{
	font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
}

.modal_close{
	font-size: 16px;
	font-weight: bold;
	width:20px;
	height: 23px;
	text-align: center;
}
.modal_close:hover{
	background-color:#ddd;
}
.modal_close:active{
	margin-left:1px;
	margin-top:1px;
	background-color:#bbb;
	width:19px;
	height: 22px;
}
