<div class="clearer"></div>

</div>
<!-- sticky footer here -->
<footer class="footer" id="footer">
  <div class="tm">
        <span>Powered by </span>
        <span><a href="http://www.jotform.com">JotForm</a></span>
        <span class="app-g"><a href="http://apps.jotform.com">JotForm Apps</a></span>
    </div>
</footer>

<!-- Google Analytics Code -->
<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1170872-7']);
      _gaq.push(['_setDomainName', 'jotform.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

 </script> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src='http://js.jotform.com/JotForm.js'></script>
<script src='http://js.jotform.com/FormPicker.js'></script>
<script src="js/init.js"></script>
<script type"text/javascript">
  $(document).ready(function(){

      init();

  });
</script>
  </body>
</html>