<!DOCTYPE html>
<html>
  <head>
    <title> <% if(pageTitle) {%> <%=pageTitle%> <% }else{ %>Transform Jotform Forms Into Voice Forms <%}%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Enter the path of the page after landing/ -->
    <base href="http://voiceforms.jotform.io:3000/" target="_blank" />
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Standard character set -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Meta tags for Google -->
    <meta name="keywords" content="voice forms, transform forms into voice forms, jotform, voice" />
    <meta name="description" content="A simple service allowing users to transfer usual jotform forms into voice forms" />
    <meta name="google-site-verification" content="CG6F2CQMNJ3nvu1pdPuN7Ww_YcG1-0cMc06ntbB12wk" />

    <!-- Meta tags for Facebook -->
    <meta property="og:title" content="Voice Forms" />
    <meta property="og:description" content="A simple service allowing users to transfer usual jotform forms into voice forms" />
    <meta property="og:image" content="http://cms.interlogy.com/uploads/image_upload/image_upload/global/9260_150X150.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />

    <!-- Meta tags for Twitter -->
    <meta name="twitter:card" content="A simple service allowing users to transfer usual jotform forms into voice forms" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="Voice Forms" />
    <meta name="twitter:description" content="A simple service allowing users to transfer usual jotform forms into voice forms" />
    <meta name="twitter:image" content="http://cms.interlogy.com/uploads/image_upload/image_upload/global/9260_150X150.jpg" />

    <!-- Copy this file into your css folder, then fix its path-->
    <link rel="stylesheet" type="text/css" href="css/style.css?rev=1">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <style type="text/css">
      #lean_overlay {
          position: fixed;
          z-index:100;
          top: 0px;
          left: 0px;
          height:100%;
          width:100%;
          background: #000;
          display: none;
      }

    </style>

  </head>
  <body>
  <div class="page-wrap">
      <header id="header">
      <div class="header">
          <div class="header-content">
              <a href="/" class="logo-link">
                  <img src="http://cdn.jotfor.ms/common-img/jotformCleanLogo.png" alt="JotForm Developers" />
              </a>
          </div>
      </div>
    </header>